* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* First Section */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9f3de;
}

ul {
    display: flex;
    gap: 20px;
}

.container-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #03392a;
    background-color: #d9f3de;
}

h1 {
    font-size: 45px;
}

.intro {
    width: 400px;
    height: auto;
}

button {
    border-radius: 5px;
    background-color: #03392a;
    color: white;
    padding: 10px;
    margin-top: 8px;
}

.bouquet {
    height: auto;
    width: 175px;
    margin: 30px;
    border: 5px solid #03392a;
    border-radius: 5px;
}
/* First Section */

/* Second Section */
h2 {
    text-align: center;
    margin-top: 35px;
    color: #03392a;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: auto;
    margin-top: 30px;
}

figure > img {
    display: flex;
    width: 120px;
    height: auto;
    border: 3px solid #03392a;
    border-radius: 5px;
}

figcaption {
    text-align: center;
    color: #03392a;
    margin-top: 10px;
}
/* Second Section */
